page-login {
    background-color: #006E3c;
    //position: absolute;

    .login{
        margin-top: 100%;
         background-color: #006E3c;
    }

    .entrar{
        margin-left: 74%;
        margin-top: 0%;
    }

    .logoLogin{
        margin-top: 0%;
    }

}
