page-home {
   .teste{
    width: 70%;
    margin-left: 25%;
    margin-top: 35%;
    //position: relative;
}
.butao{
    margin-left: 75%;
    border: 25px;
    width: 70px;
    height: 70px;
}
.nav{
    background-color: #006E3c;
}

.logo{
    width: 149px;
    height: 65px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.background{
    background-color: #006E3c;
     position: relative; 
}
    
}